$font:'Julius Sans One', sans-serif;

@mixin font-and-color {
    font-family: $font;
    color: white;
}

footer{
    div{
        div{
            h4{
                @include font-and-color;
                font-size: 12px;   
            }
            p{
                @include font-and-color;
                font-size: 13px;
                margin-bottom: 25px;
            }
        }
    }
}