/* Variables */
$title-font-logo:'Julius Sans One', sans-serif;
$title-font: 'Zen Kurenaido', sans-serif;
$color-black: black;

@mixin font-family-and-size ($font-family, $font-size) {
    font-family: $font-family;
    font-size: $font-size;
}

@mixin border-radius {
    border-radius: 10px;
}

header{
    background-color: $color-black;
    nav{
        a{
            img{
                @include border-radius;
            }
            .header-nav-logo-h2{
                @include font-family-and-size($title-font-logo, 17px);
            }

        }
        div{
            ul{
                @include font-family-and-size($title-font, 20px);
            }
        }
        .header-nav-logo{
            @include font-family-and-size($title-font, 15px);
            img{
                @include border-radius;
            }
        }
    }

}