
//----------- Iphone SE --------------
@media screen and (min-width: 300px) and (max-width: 375px) {

    //----- Contact Begin -----
    .contact-map-section .map-fincas{
        max-width: 340px;
        max-height: 350px;
          
    }
    .contact-title {
        font-size: 30px !important;
    }
    .contact-description{
        font-size: 15px !important;
        margin-left: 10px;
    }

    .contac-name {
        margin-left: 10px;
        width: 330px;
    }

    .contact-email {
        margin-left: 10px;
        width: 330px;
    }

    .contact-subject {
        margin-left: 10px;
        width: 330px;
    }

    .contact-message {
        margin-left: 10px;
        width: 330px;
    }
    //----- Contact End -----

    //----- About us Begin --------
    .titulo-about-us{
        font-size: 30px !important;
    }

    .about-us-description-col{
        margin-left: 10px !important;
        margin-right: 10px !important;
        font-size: 18px !important;
    }
    //------ About us End --------------
 } 

 //---------- Iphone 12 pro -------------
@media only screen and (min-width: 376px) and (max-width: 390px) {
    .contact-map-section .map-fincas{
        max-width: 365px;
        max-height: 400px;
    }
    .contact-title {
        font-size: 30px !important;
    }
    .contact-description{
        font-size: 15px !important;
        margin-left: 10px;
    }

    .titulo-about-us{
        font-size: 30px !important;
    }

    .about-us-description-col{
        margin-left: 10px !important;
        margin-right: 10px !important;
        font-size: 18px !important;
    }
 } 

 //---------- Ipone XR -------------------
 @media only screen and (min-width: 391px) and (max-width: 414px) {
    .contact-map-section .map-fincas{
        max-width: 387px;
        max-height: 400px;
    }
    .contact-title {
        font-size: 30px !important;
    }
    .contact-description{
        font-size: 15px !important;
        margin-left: 10px;
    }

    //----- About us Begin --------
    .titulo-about-us{
        font-size: 35px !important;
    }

    .about-us-description-col{
        margin-left: 10px !important;
        margin-right: 10px !important;
        font-size: 18px !important;
    }
    //------ About us End --------------
 } 


 //----------- Ipad Air  --------------
 @media only screen and (min-width: 415px) and (max-width: 820px) {
    .contact-map-section .map-fincas{
        margin-top: 5px;
        max-width: 350px;
        max-height: 400px;
    }
    .contact-title {
        font-size: 30px !important;
    }
    .contact-description{
        font-size: 15px !important;
        margin-left: 10px;
    }
    .titulo-about-us{
        font-size: 30px;
    }

    .about-us-description-col{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 18px;
    }
 } 
 
  //---------  Source Face Pro 7 ---------
  @media only screen and (min-width: 821px) and (max-width: 912px) {
    .contact-map-section .map-fincas{
        margin-top: 5px;
        max-width: 350px;
        max-height: 400px;
    }
    .contact-title {
        font-size: 30px !important;
    }
    .contact-description{
        font-size: 15px !important;
        margin-left: 10px;
    }
    .titulo-about-us{
        font-size: 30px;
    }

    .about-us-description-col{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 18px;
    }
 } 


 // -------------  PC  ------------------
 @media screen and (min-width: 913px)  {
    .contact-map-section .map-fincas{
        margin-top: 5px;
        max-width: 450px;
        max-height: 400px;
    }
    
 } 
 