*{
    margin: 0;
    padding: 0;
}

.menu-lista{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
}

.menu-lista:hover{
    font-size: 35px;
    transition: 2s;
         
}

.menu-link{
    text-decoration:none;
}


.header-section{
    grid-area: header-section;
}


.footer-section{
    grid-area: footer-section;
   /* --- height: 10fr;----*/
}

/* ------------ Elementos Header Begin ----------*/
.header-section {
	background: #353535;
	padding: 38px 0;
	/*position: absolute;*/
	left: 0;
	width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-section nav ul li a{
    font-size: 20px;
	font-weight: 400;
	color: white;
	letter-spacing: 0.5px;    
}

.header-section nav ul li{
    list-style: none;
	display: inline;
	margin-right: 40px;
	position: relative;
}


.logo {
	float: left;
	padding-left: 35px;
	margin-right: 30px;
}

.logo:hover {
    animation-duration: 3s;
   animation-name: aparecer;
   animation-iteration-count: infinite;
 }
 

.logo a {
	display: block;
}


.inner-header .top-info {
	float: right;
	position: relative;
}

.inner-header .top-info img {
	position: absolute;
	left: 0;
	top: 2px;
}

.inner-header .top-info span {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #ffffff;
	line-height: 18px;
	display: inline-block;
	margin-left: 45px;
	max-width: 160px;
}



/* OJO HEADER
.header-section .logo-ubicacion {
	float: right;
	position: relative;
    margin-left: 10rem;
}
*/

.logo-ubicacion{
    display: flex;  
    flex-direction: row; 
    padding-right: 35px;
 
}

.logo-ubicacion img{
    
    height: 35px;

}

/* OJO HEADER LOGO
.header-section .logo-ubicacion img{
	position: absolute;
	left: 0;
	top: 2px;
}
*/

.header-section .logo-ubicacion p {
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color:white;
	line-height: 18px;
	/*display: inline-block;
	margin-left: 45px;
	max-width: 160px;
    */
    padding-left: 10px;
}

.header-section .logo-ubicacion p:hover {
   /*
    font-size: 25px;
    line-height: 23px;
	font-weight: 500;
    height: 200px;
*/
    animation-duration: 2s;
   animation-name: aparecer;
   animation-iteration-count: infinite;


}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 

/* ------------ Elementos Header End ----------*/

/* ------------ Elementos Footer End ----------*/
.footer-section {
	background:#353535;
	padding-top: 43px;
	overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*
.footer-section-info{
    background:#353535;
	padding-top: 43px;
	overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
*/
.footer-section-info-panel h4{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;   
    color: white;
    justify-content: left;
}


.footer-section-info-panel {
	top: 5px;
	font-size: 18px;
}

.titulo-footer{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;   
    color: white;
    
}
.texto-footer{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 13px;
    color: white;
    margin-bottom: 25px;
}


/* ------------ Elementos Footer End ----------*/


/* --------------------------- Elementos index Begin ----------------------------- */
.titulo-Index {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 64px;
}

/* - ------------------------- Elementos index End ------------------------------- */

/* --------------------------- Elemntos about-us Begin --------------------------- */

.about-us-container {
    width: 100%;
    margin: 5px auto;
    color: white;
    display: grid;
    /*justify-content:space-evenly;*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, .7fr);
    grid-template-areas:
        "header-section header-section"
        "about-us-section-title about-us-section-title"
        "about-us-description-col-1 about-us-description-col-2"
        "footer-section footer-section"
        ;
    
        
}

.about-us-section-title {
    grid-area: about-us-section-title;
    height: fit-content;
    padding-top: 4%;
}

.about-us-description-col-1{
    grid-area: about-us-description-col-1;
   /*
    padding-left: 30%;
    padding-bottom: 15%;
    */
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
}

.about-us-description-col-2{
    grid-area: about-us-description-col-2;
    /*
    padding-left: 1%;
    */
    display: flex;
    justify-content: space-around;
}

.titulo-about-us{
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: black;
	/*margin-bottom: 26px;*/
    
}
/*
.about-us-section{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
    padding-top: 250px;
	padding-bottom: 62px;
}
*/

.about-us-section .about-us-descripción h3 {
	text-align: center;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: black;
	margin-bottom: 26px;
}

/*
.about-us-section .about-us-descripción {
	padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
*/
.about-us-section .about-us-descripción p {
	color: black;
	line-height: 32px;
    display: inline-flex;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
}

.about-us-description-col-1 p {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
	color: black;
	line-height: 32px;
    display: inline-flex;
    text-align: justify;
    width: 500px;
}

.about-us-description-col-2 p {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
	color: black;
	line-height: 32px;
    display: inline-flex;
    text-align: justify;
    padding-left: 20px;
    width: 500px;
}



/* --------------------------- Elemntos about-us End --------------------------- */

/* --------------------------- Elemntos place Begin --------------------------- */
.place-main-container{
    width: 100%;
    margin: 5px auto;
    color: white;
    display: grid;
    /*justify-content:space-evenly; */
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, .5fr);
    gap: 2px;
    grid-template-areas:
        "header-section"
        "place-images"
        "place-title-description"
        "place-description"
        "footer-section"
        ;   

}

.place-images{
    grid-area: place-images;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    
}

.place-images img{
   /*
    height: 300px;
    width: 600px;
    padding-top: 0;
    padding-left: 250px;
*/
width: 600px;

}

.place-title-description{
    grid-area: place-title-description;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: black;
    padding-top: 50px;
}
.place-description{
    grid-area: place-description;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
	color: black;
	line-height: 32px;
    display: inline-flex;
    text-align: justify;
    padding-left: 20px;
    padding-bottom: 5%;
    width: 95%;
}


/* --------------------------- Elemntos place End --------------------------- */

/* --------------------------- Elemntos galery Begin--------------------------- */

.galery-main-container{
    width: 100%;
    margin: 5px auto;
    color: white;
    display: grid;
    justify-content:space-evenly;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    grid-template-areas:
        "header-section"
        "galery-main-section"
        "footer-section"
        ;   
    grid-template-rows: auto 100% 10%;
}

.galery-main-section{
    grid-area: galery-main-section;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /*margin-top: 0.000001px;*/
   /* padding-bottom: 15%;*/

}
.galery-img{
    width: 400px;
    height: 200px;
    opacity: .4;
    border: 2px double grey;
}
.galery-img:hover{
    opacity: 1;
    border: 3px solid goldenrod;
    width: 450px;
    height: 250px;
    /*transition: 2;*/
    
}

/* --------------------------- Elemntos galery End --------------------------- */


/* --------------------------- Elemntos rooms Begin --------------------------- */
.rooms-section-conteiner{
    width: 100%;
    margin: 5px auto;
    color: white;
    display: grid;
    justify-content:space-evenly;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, .38fr);
    gap: 5px;
    grid-template-areas:
        "header-section header-section"
        "rooms-section-col-1 rooms-section-col-2"
        "rooms-section-col-3 rooms-section-col-4"
        "footer-section footer-section"
        ;   
    grid-template-rows: 15% 50% 50% 15%;
}

.rooms-section-col-1{
    grid-area: rooms-section-col-1;
    border: 2px double goldenrod;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    height: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.rooms-section-col-1 img {

        width: 100%;
        height: 100%;

}
.rooms-section-col-2{
    grid-area: rooms-section-col-2;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
	color: black;
	line-height: 32px;
    border: 2px double goldenrod;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    height: 550px;
}

.room-section-title {
    display:inline-block;
    margin-left: 20px;
}

.room-section-price{
    display:inline-block;
    padding-top: 20px;
    padding-left: 150px;

}

.room-section-description{
    display:inline-block;
    margin-left: 15px;
}

.room-section-info{
    display:inline-block;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 50px;
    
}

.rooms-section-col-3{
    grid-area: rooms-section-col-3;
    border: 2px double goldenrod;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.rooms-section-col-3 img {
    width: 100%;
    height: 100%;
}
.rooms-section-col-4{
    grid-area: rooms-section-col-4;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
	color: black;
	line-height: 32px;
    border: 2px double goldenrod;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 550px;
}

.rooms-section-col-4 .room-section-price
{
    padding-top: 20px;
    padding-left: 90px;
}

/* --------------------------- Elemntos rooms End --------------------------- */


/* --------------------------- Elemntos index Begin --------------------------- */
.index-main-container{
    width: 100%;
    margin: 5px auto;
    color: white;
    display: grid;
    /* justify-content:space-evenly; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, -8fr);
    grid-template-areas:
        "header-section header-section"
        "index-section-1 index-section-1"
        "index-comodities-img-section-1 index-comodities-description-2"
        "index-comodities-description-3 index-comodities-img-section-4"
        "index-comodities-img-section-5 index-comodities-description-6"
        "index-comodities-description-7 index-comodities-description-8"
        "index-social-media index-social-media"
        "index-social-media-col-1 index-social-media-col-2"
        "footer-section footer-section"
        ;   
    grid-template-columns: 50% 50%;

    

    
}

.index-section-1{
    grid-area: index-section-1;
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color:white;
	line-height: 18px;
    display: flex;

}
.index-section-1 h1{
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    margin-top: 30px;

}
.index-section-1 img
{
    width: 100%;

}

.index-comodities-img-section-1{
    grid-area: index-comodities-img-section-1;
    display: flex;
    height: fit-content;
}
.index-comodities-img-section-1 img{
    width: 70%;
    height: 70%;
    padding-left: 20%;

}

.index-comodities-description-2{
    grid-area: index-comodities-description-2;
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    padding-right: 30%;
    display: flex;
    flex-direction: column;
}
.index-comodities-description-2 h4{
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    padding-top: 20%;
}

.index-comodities-description-3{
    grid-area: index-comodities-description-3;
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    padding-left: 20%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
}
.index-comodities-description-3 h4{
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    padding-top: 20%;

}

.index-comodities-img-section-4{
    grid-area: index-comodities-img-section-4;
    display: flex;
    height: fit-content;
}
.index-comodities-img-section-4 img{
    width: 60%;
    height: 10%;
}

.index-comodities-img-section-5{
    grid-area: index-comodities-img-section-5;
    padding-left: 20%;
    padding-right: 30%;
    display: flex;
    height: fit-content;
}
.index-comodities-img-section-5 img{
    width: 130%;
    height: 110%;
}

.index-comodities-description-6{
    grid-area: index-comodities-description-6;
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    padding-right: 30%;
    display: flex;
    flex-direction: column;
}
.index-comodities-description-6 h4{
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    padding-top: 20%;
}

.index-comodities-description-7{
    grid-area: index-comodities-description-7;
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
}
.index-comodities-description-7 h4{
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    padding-top: 20%;
}

.index-comodities-description-8{
    grid-area: index-comodities-description-8;
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    display: flex;
    flex-direction: column;
}
.index-comodities-description-8 h4{
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    padding-top: 15%;
}

.index-social-media{
    grid-area: index-social-media;
    font-family: 'Julius Sans One', sans-serif;
	font-size: 30px;
	font-weight: 100;
	color:black;
	line-height: 18px;
    padding-top: 10%;

    text-align: center;
}

.index-social-media p {
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 30px;
}


.index-social-media-col-1{
    grid-area: index-social-media-col-1;
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    padding-top: 15%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: row;
}

.index-social-media-col-2{
    grid-area: index-social-media-col-2;
    font-family: 'Zen Kurenaido', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color:black;
	line-height: 18px;
    padding-top: 15%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: row;
}
.social-media-testimonial-1{
    display: flex;
    flex-direction: row;

}
.social-media-testimonial-1 img{

    position: absolute;
    margin-left: 5%;
    width: 10%;
    height: 10%;
    
}
.social-media-testimonial-1 p{

    padding-left: 40%;
    padding-right: 10%;
 
}
.social-media-testimonial-2{
    display: flex;
    flex-direction: row;
}
.social-media-testimonial-2 img{
    position: absolute;
    width: 10%;
    height: 10%;
}
.social-media-testimonial-2 p{
    padding-left: 30%;
    padding-right: 10%;
}
/* --------------------------- Elemntos index End --------------------------- */


/* --------------------------- Elemntos contact Begin --------------------------- */
.contact-container{
    width: 100%;
    margin: 5px auto;
    color: white;
    display: grid;
    /*justify-content:space-evenly;*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, -8fr);
    gap: 5px;
    grid-template-areas:
        "header-section header-section"
        "contact-section-col-1 contact-section-col-2"
        "contact-map-section contact-map-section"
        "footer-section footer-section"
        ;   

}

.contact-section-col-1{
    grid-area: contact-section-col-1;
    font-family: 'Julius Sans One', sans-serif;
	font-size: 15px;
	font-weight: 100;
	color:black;
	line-height: 18px;
    padding-top: 10%;
    padding-left: 10%;

}

.contact-section-col-2{
    grid-area: contact-section-col-2;
    font-family: 'Julius Sans One', sans-serif;
	font-size: 15px;
	font-weight: 100;
	color:black;
	line-height: 18px;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.contact-map-section{
    grid-area: contact-map-section;
    /*
    padding-left: 20%;
    padding-bottom: 10% ;
    padding-top: 9%;
    */
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
     
}

.contact-map-section iframe{
    width: 800px;
    height: 500px;
}



/* --------------------------- Elemntos contact End --------------------------- */


/* --------------------------------- MOBILE ----------------------*/


@media only screen and (max-width: 767px) {

.place-main-container{
    display: grid; 
    grid-template-areas:
    "header-section header-section" 
    "place-images place-images" 
    "place-title-description place-title-description"
    "place-description place-description" 
    "footer-section footer-section"; 
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    
}
.place-title-description{
	font-size: 24px;
	font-weight: 250;
	line-height: 26px;
	color: black;

}
.place-description{
    font-size: 10px;
	color: black;
	line-height: 16px;
}

.galery-main-container{
    display: grid;
    grid-template-areas:
        "header-section"
        "galery-main-section"
        "footer-section"
        ;   
    grid-template-rows: auto auto auto;
}


.about-us-container {
    display: grid;
    grid-template-areas:
        "header-section header-section"
        "about-us-section-title about-us-section-title"
        "about-us-description-col-1 about-us-description-col-2"
        "footer-section footer-section"
        ;
    
        
}

.titulo-about-us{
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: black;
	/*margin-bottom: 26px;*/
    
}

.about-us-section .about-us-descripción p {
	line-height: 16px;

}

.about-us-description-col-1 p {
    font-size: 10px;
	line-height: 16px;
}

.about-us-description-col-2 p {
    font-size: 10px;
	line-height: 16px;
}

.contact-container{
    display: grid;
    grid-template-areas:
        "header-section header-section"
        "contact-section-col-1 contact-section-col-2"
        "contact-map-section contact-map-section"
        "footer-section footer-section"
        ;   

}

.contact-section-col-1{
	font-size: 8px;
	line-height: 9px;
}

.contact-section-col-2{
	font-size: 8px;
	line-height: 9px;
}

.contact-map-section iframe{
    width: 300px;
    height: 175px;
}

.room-section-features{
    display: flex;
    flex-direction: row;
    font-size: 5px;
}

.rooms-section-conteiner{
    display: grid;
    grid-template-areas:
        "header-section header-section"
        "rooms-section-col-1 rooms-section-col-2"
        "rooms-section-col-3 rooms-section-col-4"
        "footer-section footer-section"
        ;   
}


.rooms-section-col-4{
    font-size: 10px;
	line-height: 16px;
}


.index-main-container{

    display: flex;
    width: 50%;
    flex-direction: column;
 
    
}


.index-social-media-col-1{
	font-size: 10px;
	font-weight: 200;
}

.index-social-media-col-2{
	font-size: 10px;
	font-weight: 200;
}


}