* {
  margin: 0;
  padding: 0; }

/* Variables */
header {
  background-color: black; }
  header nav a img {
    border-radius: 10px; }
  header nav a .header-nav-logo-h2 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 17px; }
  header nav div ul {
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 20px; }
  header nav .header-nav-logo {
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 15px; }
    header nav .header-nav-logo img {
      border-radius: 10px; }

main {
  /*-------------- Index ------------------------*/
  /*-------------- Rooms ------------------------*/
  /*-------------- About Us ---------------------*/
  /*------------------- Place ---------------*/
  /*------------------ Contact ----------------*/ }
  main .card-title {
    color: black;
    line-height: 35px; }
  main .rooms-section-tit {
    font-weight: bold;
    color: black;
    line-height: 32px; }
  main .rooms-section-desc {
    color: black;
    line-height: 32px; }
  main .titulo-about-us {
    text-align: center;
    font-weight: 500;
    line-height: 56px;
    color: black; }
  main .about-us-description-col {
    line-height: 32px;
    color: black; }
  main .place-description {
    color: black;
    line-height: 32px;
    text-align: justify; }
  main .contact-map-section iframe {
    width: 450px;
    height: 400px; }

footer div div h4 {
  font-family: "Julius Sans One", sans-serif;
  color: white;
  font-size: 12px; }

footer div div p {
  font-family: "Julius Sans One", sans-serif;
  color: white;
  font-size: 13px;
  margin-bottom: 25px; }

/* Animaciones */
.logo:hover {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

.logo-ubicacion:hover {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

.titulo-animado:hover {
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (min-width: 300px) and (max-width: 375px) {
  .contact-map-section .map-fincas {
    max-width: 340px;
    max-height: 350px; }
  .contact-title {
    font-size: 30px !important; }
  .contact-description {
    font-size: 15px !important;
    margin-left: 10px; }
  .contac-name {
    margin-left: 10px;
    width: 330px; }
  .contact-email {
    margin-left: 10px;
    width: 330px; }
  .contact-subject {
    margin-left: 10px;
    width: 330px; }
  .contact-message {
    margin-left: 10px;
    width: 330px; }
  .titulo-about-us {
    font-size: 30px !important; }
  .about-us-description-col {
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 18px !important; } }

@media only screen and (min-width: 376px) and (max-width: 390px) {
  .contact-map-section .map-fincas {
    max-width: 365px;
    max-height: 400px; }
  .contact-title {
    font-size: 30px !important; }
  .contact-description {
    font-size: 15px !important;
    margin-left: 10px; }
  .titulo-about-us {
    font-size: 30px !important; }
  .about-us-description-col {
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 18px !important; } }

@media only screen and (min-width: 391px) and (max-width: 414px) {
  .contact-map-section .map-fincas {
    max-width: 387px;
    max-height: 400px; }
  .contact-title {
    font-size: 30px !important; }
  .contact-description {
    font-size: 15px !important;
    margin-left: 10px; }
  .titulo-about-us {
    font-size: 35px !important; }
  .about-us-description-col {
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 18px !important; } }

@media only screen and (min-width: 415px) and (max-width: 820px) {
  .contact-map-section .map-fincas {
    margin-top: 5px;
    max-width: 350px;
    max-height: 400px; }
  .contact-title {
    font-size: 30px !important; }
  .contact-description {
    font-size: 15px !important;
    margin-left: 10px; }
  .titulo-about-us {
    font-size: 30px; }
  .about-us-description-col {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px; } }

@media only screen and (min-width: 821px) and (max-width: 912px) {
  .contact-map-section .map-fincas {
    margin-top: 5px;
    max-width: 350px;
    max-height: 400px; }
  .contact-title {
    font-size: 30px !important; }
  .contact-description {
    font-size: 15px !important;
    margin-left: 10px; }
  .titulo-about-us {
    font-size: 30px; }
  .about-us-description-col {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px; } }

@media screen and (min-width: 913px) {
  .contact-map-section .map-fincas {
    margin-top: 5px;
    max-width: 450px;
    max-height: 400px; } }

/* Mapa de Fonts Sizes*/
/* Mapa de Fonts*/
/* Uso del Map Fonts*/
.font-zen-kurenaido {
  font-family: "Zen Kurenaido", sans-serif; }

.font-julius-sans-one {
  font-family: "Julius Sans One", sans-serif; }

/* Uso del Map Fonts Sizes*/
.size-15 {
  font-size: 15px; }

.size-16 {
  font-size: 16px; }

.size-20 {
  font-size: 20px; }

.size-21 {
  font-size: 21px; }

.size-25 {
  font-size: 25px; }

.size-35 {
  font-size: 35px; }

.size-48 {
  font-size: 48px; }

.page-footer img {
  margin-top: 1px; }

.about-us-description-col {
  margin-top: 50px;
  padding-bottom: 90px; }
